# Base de Datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sigc_dd
DB_USER=root
DB_PASSWORD=tu_contraseña
DB_DIALECT=postgres
DB_SSL=true

# Aplicación
APP_PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=tu_clave_secreta_aqui

# Versión
VERSION_NAME=Chocobreak
